.content-main {
  height: 100%;
  background: #EDEEF0;
  padding: 15px;
  font-size: 12px !important;
}
.content-main h4 {
  font-weight: bold;
  font-size: 12px;
}
.header-til h3 {
  display: inline-block;
  margin: 0 0 15px 0;
  color: #757B87;
  font-size: 1.17em;
}
.header-til span {
  color: #757B87;
}
.use-project, .join-project {
  min-height: 280px;
  margin: 15px 0;
  padding: 15px;
  background: #FFF;
  box-shadow: 1px 0 5px #CCC;
}
.pro-item li {
  float: left;
  width: 24.1%;
  margin: 0 15px 30px 0;
  background: #EFF4F6;
}
.pro-item li:nth-child(4n) {
  margin-right: 0;
}
.pro-item li a {
  display: block;
  padding: 15px;
  height: 110px;
  text-decoration: none;
}
.pro-item .icon {
  float: left;
  width: 60px;
  height: 80px;
  margin-right: 10px;
  border-right: 1px solid #CDDADE;
}
.pro-item .icon-cxfx {
  background: url("~assets/images/Entry/icon_cxfx.png") left center no-repeat;
}
.pro-item .icon-etl {
  background: url("~assets/images/Entry/icon_etl.png") left center no-repeat;
}
.pro-item .icon-rwdd {
  background: url("~assets/images/Entry/icon_rwdd.png") left center no-repeat;
}
.pro-item .icon-ysj {
  background: url("~assets/images/Entry/icon_ysj.png") left center no-repeat;
}
.pro-item .icon-sjjc {
  background: url("~assets/images/Entry/icon_sjjc.png") left center no-repeat;
}
.pro-item h4 {
  margin: 5px 0;
  color: #444;
}
.pro-item p {
  margin: 0;
  color: #8A919E;
}
.copyright {
  text-align: center;
  color: #444;
  margin-top: 50px;
}
